
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Anomaly Detection</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Upload CSV File</h1>
        <form th:action="@{/upload}" th:object="${file}" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file">Select File:</label>
                <input type="file" class="form-control-file" id="file" th:field="*{file}">
            </div>
            <button type="submit" class="btn btn-primary">Upload</button>
        </form>
    </div>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
